Genre: <%= @genre.name %>

<% @genre.songs.each do |song| %>
  <%= link_to song.title, song %>
<% end %>

<%= link_to 'describe this', describe_genre_path %>

<br>
<i>considered a subgenre of:</i>
<% @genre.parent_genres.each do |genre| %>
  <%= link_to genre.name, genre %>
<% end %>
<br>
<i>with <%= @genre.child_genres.count %> subgenres of its own:</i>
<% @genre.child_genres.each do |genre| %>
  <%= link_to genre.name, genre %>
<% end %>
  
<div>
  Described:
  <% @genre.descriptions.each do |description| %>
    <%= link_to description.body, description %>
  <% end %>
</div>
