<h1>Artists</h1>
  <div id="artists_list">
    <% @artists.each do |artist| %>
      <div class="artist">
        <%= link_to artist.name, artist %>
        <div class="artist_genres">
          <%= "(" unless artist.genres.empty? -%>
          <% artist.genres.each do |genre| %>
            <%= link_to genre.name, genre %>
          <% end %>
          <%= ")" unless artist.genres.empty? -%>
        </div>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'New Artist', new_artist_path %>
