<h1>Artists</h1>

    <% @artists.each do |artist| %>
      <div class="artist">
        <%= link_to artist.name, artist %>
        <div class="artist_genres">
          <%= "(" -%>
          <% artist.genres.each do |genre| %>
            <%= link_to genre.name, genre %>
          <% end %>
          <%= ")" -%>
        </div>
      </div>
    <% end %>
<br>

<%= link_to 'New Artist', new_artist_path %>
