<h1>Listing descriptions</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @descriptions.each do |description| %>
      <tr>
        <td><%= description.body %></td>
        <td><%= link_to 'Show', description %></td>
        <td><%= link_to 'Edit', edit_description_path(description) %></td>
        <td><%= link_to 'Destroy', description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Description', new_description_path %>
