<h1>
  Songs
</h1>

<div class="songs">
  <% @songs.each do |song| %>
    <div class="song_title">
      <%= link_to song.title, song %>
      -
      <%= link_to song.artist.name, song.artist %>
    </div>
    <div class="song_genres">
      <%= "(" -%>
      <% song.genres.each do |genre| %>
        <%= link_to genre.name, genre %>
      <% end %>
      <%= ")" -%>
    </div>
    
  <% end %>
<br>

<%= link_to 'New Song', new_song_path %>
