<h1>
  Songs
</h1>

<div class="songs">
  <% @songs.each do |song| %>
    <div class="song_title">
      <%= link_to song.title, song %>
      <span class="mix_name"><%= song.mix_name %></span>
      -
      <%= link_to_name song.artist %>
      <span class="remixers">
        <% song.remixing_artists.each do |artist| %>
          <%= link_to_name artist %>
        <% end %>
      </span>
    </div>
    <div class="song_genres">
      <%= "(" -%>
      <% song.genres.each do |genre| %>
        <%= link_to genre.name, genre %>
      <% end %>
      <%= ")" -%>
    </div>
    
  <% end %>
<br>

<%= link_to 'New Song', new_song_path %>
