<p id="notice"><%= notice %></p>

<div class="song_title">
  <%= @song.title %>
</div>
<div class="song_artist">
  -<%= @song.artist.andand.name %>
</div>


<b>Genres:</b>
<% @song.genres.each do |genre| %>
  <%= link_to genre.name, genre %>
<% end %>

<p>
  <%= form_for @song.genrelizations.new do |f| %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all - @song.genres, :id, :name), :include_blank => true %>
    <%= f.hidden_field :song_id %>
    <%= f.submit 'add genre' %>
  <% end %>
</p>
