<p id="notice"><%= notice %></p>

<header class="artist">
  <%= link_to_name @song.artist %>
  <div class="remixers">
    <% @song.remixing_artists.each do |artist| %>
      <%= link_to_name artist %>
    <% end %>
  </div>
</header>

<header class="track_title">
  <%= @song.title %>
  <span class="mix_name"><%= @song.mix_name %></span>
</header>

<% @song.genres.each do |genre| %>
  <%= link_to genre.name, genre %>
<% end %>

<p>
  <%= form_for @song.genrelizations.new do |f| %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), :include_blank => true %>
    <%= f.hidden_field :song_id %>
    <%= f.submit "Add a genre" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %>
