<!DOCTYPE html>
<html>
<head>
  <title>Genrelizer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700|PT+Sans+Narrow:400,700|Ubuntu|Exo:400,900|Oswald:400,300,700|Raleway:400,500,600,700,800,900,300,200,100|Titillium+Web|Special+Elite|Pacifico|Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= link_to 'Artists', artists_path %>
  <%= link_to 'Songs', songs_path %>
  <%= link_to 'Genres', genres_path %>
  <%= login_stuff %>
  <hr>

<%= yield %>

</body>
</html>
